<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-08-10 at 7.08.18 PM.jpeg" class="img-fluid" id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nom">Cruz Arbieto Lizzette</p>
        <p>Full Stack Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit non est quasi a quia nisi enim eos aliquam accusamus. Libero, maxime ut dolorum recusandae cumque fuga facilis omnis et culpa?</p>
        </span>
     </div>

</div>
