.row{
    padding: 20px;
    background-color:  rgb(0, 28, 58);

}
div{
    background-color: rgb(0, 28, 58);
    text-align: left;
    color: rgba(2, 216, 253);
}
#color{
    color: rgba(2, 216, 253);
}
#colorC{
    color: rgba(207, 91, 94);
}
#estilo{
    font-family: 'Source Code Pro', monospace;

}