
<div class="container-fluid">
<div class="row">
    <h2 id="color">Educación</h2>
    <br><br><br>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
         Nueva Educación
        </button>
        <br>
        <br>
    </div>

    <div class="col lg 1"></div>
    <div class="col-sx-12 col-md-11 col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td><h4 id="colorC">{{Educacion.nombreEdu}}</h4></td>
                    <td id="color">{{Educacion.descripcionEdu}}</td>
                    <td id="color">{{Educacion.fechaEdu}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-light edit-button m-1" routerLink="/editedu/{{Educacion.id}}"> 
                        <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger delete-button m-1" (click)="delete(Educacion.id)"> 
                        <i class="bi bi-trash-fill"></i></button>
                    </td>
                
                </tr>
            </tbody>
    
        </table>
    </div>
    
</div>


</div>