.row{
    padding: 30px;
    background-color:  rgb(0, 28, 58);

}
div{
    background-color: rgb(0, 28, 58);
    text-align: left;
    color: rgba(254, 219, 154, 0.912);
}
#color{
    color: rgba(154, 209, 254, 0.912);
}

.progress-bar{
    background-color: #2E6C83;
}